<!doctype html>
<html lang="en">

<head>
    <title>Voting sistem</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="150" />
    <link rel="shortcut icon" href="/ipa/ui/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://static.app.copernicani.it/ipa/ui/css/patternfly.css">
    <link rel="stylesheet" href="https://static.app.copernicani.it/ipa/ui/css/ipa.css">
    <link rel="stylesheet" href="https://static.app.copernicani.it/ipa/ui/ipa.css">
  
    <script src="/ipa/ui/js/libs/jquery.js"></script>
    <script src="/ipa/ui/js/libs/bootstrap.js"></script>
  
    <style type="text/css">
       :root .left_article_cont,
       :root .adv,
       :root .ads {
        display: none !important;
      }
    </style>
  </head>

<body>
    <div style="margin-left:10%; margin-right:10%; ">
        <img src="https://static.app.copernicani.it/img/cropped-logo_orizzontale_trasparente.png"/><br/>
        {% if current_user.is_authenticated %} Hi, {{current_user.user_name}}, (
        <a href="/logout">logout</a>) (
        <a href="/">Home</a>) {% else %} Please,
        <a href="/login">login</a>
        {% endif %}

        <div>
            <h1>Voting system</h1>
            <h2>{{pagetitle}}</h2>
            <div>
                {% block body %}{% endblock %}
            </div>
        </div>

    </div>
</body>

</html>