<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Copernico Spritz Election</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <!-- header -->
    <header>
            <div id="logo" class="col2"><img src="{{url_for('static', filename='images/logo.png')}}" width="320" height="atuo" alt=""/></div>
            <div id="mainMenu" class="col6"></div>
            <div id="icoAlSito" class="col2"><a class="ico" href="/" title="vai al sito">
                <img src="{{url_for('static', filename='images/al-sito.png')}}" width="160" height="auto" alt=""/></a>
            </div>
    </header>
    <!-- login bar -->
	<div id="menuUser">
        <div class="menu">
        {% if current_user.is_authenticated %} 
            <span class="nameUser">Benvenuto {{current_user.user_name}}</span> - <a class="linkMenu" href="/logout" title="Esegui il logout">(logout)</a> <a href="/" title="Torna alla home">(home)</a>
        {% else %} 
            <span class="nameUser">Fai qui il </span>
            <a class="linkMenu" href="/login" title="Esegui il login">login</a>
        {% endif %}
        </div>
    </div>       
    <!-- containt  --> 
    <div id="main" class="textCenter">
        <h1>{{pagetitle}}</h1>
        {% if message %}
            <p class="alert">{{message}}</p>
        {% endif %}
        {% block body %}{% endblock %}
    </div>
</body>

</html>