{% extends "base_template.html" %} {% block body %} 
{% if current_user.u.user_id == v.promoter_user_id %} 
    The election is
    started:
    <div>{{v.votation_description}}</div>
    <div>Now, candidates and guarantors can send their passphrases.</div>
    <div>
        <h3>Candidates:</h3>
        {% for u in candidates_array %}
        <div>{{u.user_name}}</div>
        {% endfor %}

    </div>
    <div>
        <h3>Guarantors:</h3>
        {% for u in guarantors_array %}
        <div>{{u.user_name}}</div>
        {% endfor %}
    </div>

{% else %}
    <div>You can't be here...</div>
{% endif %} {% endblock %}