{% extends "base_template.html" %} {% block body %}

<h3>Input data about your votation</h3>
<form action="votation_propose" method="post" id="votationPurpose">
<label>Description:</label><br>
<input type="text" id="votation_description" name="votation_description"><br>
<p class="beginDate"><label>Begin date</label>
    <input type="date" id="begin_date" name="begin_date"></p>
<p class="endDate"><label>End date</label>
    <input type="date" id="end_date" name="end_date"></p><br>
<p class="textCenter"><button class="botton1 signIn" type="submit">save</button></p>
</form>
{% endblock %}