{% extends "base_template.html" %} {% block body %}


<h2>Input data about your votation</h2>
<form action="votation_propose" method="post">
    <div>
        Votation ID (only A-Z,0-9 and points. No spaces)
        <input type="text" id="votation_id" name="votation_id" autofocus value="{{votation_obj.votation_id}}">
    </div>
    <div>
        Description
        <input type="text" id="votation_description" name="votation_description" value="{{votation_obj.votation_description}}">
    </div>
    <div>
        Begin date (YYYY-MM-GG)
        <input type="text" id="begin_date" name="begin_date" value="{{votation_obj.begin_date}}">
    </div>
    <div>
        End date (YYYY-MM-GG)
        <input type="text" id="end_date" name="end_date" value="{{votation_obj.end_date}}">
    </div>
    <div>
        Type
        <select id="votation_type" name="votation_type">
            <option value="random" selected>Random</option>
            <option value="majority">Majority</option>
        </select>
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
</form>
<div>{{message}}</div>

{% endblock %}