{% extends "base_template.html" %} {% block body %}
<div id="vDetail">
    <p><span class="lab">Codice Votazione:</span> {{v.votation_id}}</p>
    <p><span class="lab">Descrizione:</span> {{v.votation_description}}</p>
    <p><span class="lab">Stato:</span> {{states[v.votation_status]}} ({{v.votation_status}})</p>
    <p><span class="lab">Avviata da:</span> {{v.promoter_user.user_name}}</p>
    <p><span class="lab">Inizia il:</span> {{v.begin_date}}</p>
    <p><span class="lab">Termina il :</span> {{v.end_date}}</p>
    <!-- <p><span class="lab">Type:</span> {{v.votation_type}}</p> -->

    {% if current_user.u.user_id == v.promoter_user.user_id and v.votation_status == 0 and candidates_array|length > 0 and guarantors_array|length > 0 %}
        <p><a href="/start_election/{{v.votation_id}}">Inizia l'elezione</a></p>
    {% endif %}
    <h3>Candidati:</h3>
    <ul>
        {% for c in candidates_array %}
            {% if v.votation_status == 2 and current_user.u.user_id == c.u.user_id %}
                {% if c.passphrase_ok == 1 %}
                    <li  ><span >{{c.u.user_name}}</span> [{{c.order_n}}] (Chiave inviata)</li>
                {% else %}
                    <li  ><form action="/send_passphrase" method="POST">
                        <span >{{c.u.user_name}}</span> [{{c.order_n}}] <input type="text" id="passphrase" name="passphrase">
                        <input type="hidden" name="votation_id" id="votation_id" value="{{v.votation_id}}">
                        <input type="submit" value="Invia Chiave"  />
                    </form></li>        
                {% endif %}
            {% else %}
                <li  ><span >{{c.u.user_name}}</span> [{{c.order_n}}] {% if c.passphrase_ok == 1 %} (Chiave inviata) {% endif %}</li>
            {% endif %}
        {% endfor %}
    </ul>

    
    <h3>Scrutatori:</h3>
    <ul>
    {% for g in guarantors_array %}
        {% if v.votation_status == 1 and current_user.u.user_id == g.u.user_id %}
            {% if g.hash_ok == 1 %}
                <li  ><span >{{g.u.user_name}}</span> (Chiave inviata)</li>
            {% else %}
                <li  ><form action="/send_passphrase" method="POST">
                    <span >{{g.u.user_name}}</span> <input type="text" id="passphrase" name="passphrase">
                    <input type="hidden" name="votation_id" id="votation_id" value="{{v.votation_id}}">
                    <input type="submit" value="Invia Chiave"  />
                </form></li>         
            {% endif %}
        {% elif v.votation_status == 3 and current_user.u.user_id == g.u.user_id %}
            {% if g.passphrase_ok == 1 %}
                <li  ><span >{{g.u.user_name}}</span> (Chiave Confermata)</li> 
            {% else %}
                <li  ><form action="/send_passphrase" method="POST">
                    <span >{{g.u.user_name}}</span> <input type="text" id="passphrase" name="passphrase" />
                    <input type="hidden" name="votation_id" id="votation_id" value="{{v.votation_id}}" />
                    <input type="submit" value="Conferma la chiave"  />
                </form> </li>       
            {% endif %}
        {% else %}
            <li  ><span >{{g.u.user_name}}</span> {% if g.passphrase_ok == 1 %} (Chiave Confermata) {% endif %}</li>
        {% endif %}
    {% endfor %}
    </ul>
    {% if v.votation_status == 6 %}
        <h3>Risultato della votazione</h3>
        <div>The election is failed.</div>
    {% endif %}
    {% if v.votation_status == 5 %}
        <h3>Risultato della votazione</h3>
        <div>The winner is: Roky Balboa</div>
    {% endif %}
    {% if v.votation_status > 0 %}
        <h3>Stato della votazione</h3>
        <div class="container">
            {% for row in state_array %}
            <code>{{ row }}</code><br / >
        {% endfor %}    
        </div>
    {% endif %}
</div>
{% endblock %}
