{% extends "base_template.html" %} {% block body %}
<div>Id: {{v.votation_id}}</div>
<div>Description: {{v.votation_description}}</div>
<div>Status: {{states[v.votation_status]}} ({{v.votation_status}})</div>
<div>Created by: {{v.promoter_user.user_name}}</div>
<div>Begins at: {{v.begin_date}}</div>
<div>Ends at: {{v.end_date}}</div>
<div>Type: {{v.votation_type}}</div>
{% if current_user.u.user_id == v.promoter_user.user_id and v.votation_status == 0 and candidates_array|length > 0 and guarantors_array|length > 0 %}
    <div><a href="/start_election/{{v.votation_id}}" class="btn btn-primary">Start the Election</a></div>
{% endif %}
<div>
    <h3>Candidates:</h3>
    {% for c in candidates_array %}
        <div>
            {% if v.votation_status == 2 and current_user.u.user_id == c.u.user_id %}
            {% if c.passphrase_ok == 1 %}
                {{c.u.user_name}} (Passphrase Sent)
            {% else %}
                <form action="/send_passphrase" method="POST">
                    {{c.u.user_name}} <input type="text" id="passphrase" name="passphrase">
                    <input type="hidden" name="votation_id" id="votation_id" value="{{v.votation_id}}">
                    <input type="submit" value="Send passphrase" class="btn btn-primary" />
                </form>        
            {% endif %}
        {% else %}
            {{c.u.user_name}} {% if c.passphrase_ok == 1 %} (Passphrase Sent) {% endif %}
        {% endif %}
        </div>
{% endfor %}
    
</div>
<div>
    <h3>Guarantors:</h3>
    {% for g in guarantors_array %}
    <div>
        {% if v.votation_status == 1 and current_user.u.user_id == g.u.user_id %}
            {% if g.hash_ok == 1 %}
                {{g.u.user_name}} (Passphrase Sent)
            {% else %}
                <form action="/send_passphrase" method="POST">
                    {{g.u.user_name}} <input type="text" id="passphrase" name="passphrase">
                    <input type="hidden" name="votation_id" id="votation_id" value="{{v.votation_id}}">
                    <input type="submit" value="Send passphrase" class="btn btn-primary" />
                </form>        
            {% endif %}
        {% elif v.votation_status == 3 and current_user.u.user_id == g.u.user_id %}
            {% if g.passphrase_ok == 1 %}
                {{g.u.user_name}} (Passphrase Confirmed)
            {% else %}
                <form action="/send_passphrase" method="POST">
                    {{g.u.user_name}} <input type="text" id="passphrase" name="passphrase">
                    <input type="hidden" name="votation_id" id="votation_id" value="{{v.votation_id}}">
                    <input type="submit" value="Confirm passphrase" class="btn btn-primary" />
                </form>        
            {% endif %}
        {% else %}
            {{g.u.user_name}} {% if g.passphrase_ok == 1 %} (Passphrase Confirmed) {% endif %}
        {% endif %}
    </div>
    {% endfor %}
    {% if v.votation_status == 6 %}
        <h3>Result of Election</h3>
        <div>The election is failed.</div>
    {% endif %}
    {% if v.votation_status == 5 %}
        <h3>Result of Election</h3>
        <div>The winner is: Roky Balboa</div>
    {% endif %}
    {% if v.votation_status > 0 %}
        <h3>Status</h3>
        <div class="container">
            {% for row in state_array %}
            <code>{{ row }}</code><br / >
        {% endfor %}    
        </div>
    {% endif %}
</div>
{% endblock %}