{% extends "base_template.html" %} {% block body %}


<table>
<thead>
    <th>ID</th>
    <th>Status</th>
    <th>Description</th>
    <th>Begin</th>
    <th>End</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
</thead>
<tbody>
    {% for v in votations_array %}
    <tr>
        <td><a href="/votation_detail/{{v.votation_id}}">{{v.votation_id}}</a></td>
        <td>{{states[v.votation_status]}}</td>
        <td>{{v.votation_description}}</td>
        <td>{{v.begin_date}}</td>
        <td>{{v.end_date}}</td>
        <td><a href="/be_a_candidate/{{v.votation_id}}">Be a candidate</a></td>
        <td><a href="/be_a_guarantor/{{v.votation_id}}">Be a guarantor</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}